<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration</h1>
    <form method ="post" action="">

        Name:<input type ="text" name="name" id="name"><br>
        Password:<input type ="password" name ="pword" id="pword"><br>
        Facutly:<select name="faculty" id="faculty">
            <option value="bct" selected> BCT</option>
            <option value="bex">BEX</option>
        </select><br>
Gender: <input type="radio" checked name="gender" value="male">male
        <input type="radio" name="gender" value="female">Female<br>
        Education:<br>
        <input type="checkbox" name="see" value="see"> SEE <br>
        <input type="checkbox" name="plus2" value="plus2"> 10+2 <br>
        <input type="checkbox" name="above" value="above"> Above <br>
        Remarks:<br>

        <textarea name="remarks" ros="5" cols="50" placeholclassder="Enter your remarks" >

        </textarea>
        <br>
        <input type="submit" value="Register">
        <input type="button" value="cancel">
    </form>


</body>
</html>